:root {
  --bgbody: #c6d8ec55;
  --fontbody-dark: #456b96;
  --bgwhite: #ffffff;
  --fontwhite: #ffffff;
  --lightpinkcolor: #f6cbe0;
  --bgpink: #eaa2c5;
  --linkhovercolor: #98b4d4;
  --bgfooter: #0d2847;
  --fontfooter: white;
  --head-menu-bg: #0a1b69;
  --darkbluefontcolor: #456b96;
  --lightbluefontcolor: #c6d8ec;
  --lightbluebg: #ecf5ff;
  --darkpinkcolor: #be4e85;
  --fontdarkpinkcolor : #be4e85;
  --lightbrowncolor: #eafbcf;
  --figcaptionbg: var(--primary_dark_color);
  --figcaptioncolor: white;
  --figcaptionbg1: var(--primary_dark_color);
  --figcaptioncolor1: var(--primary_dark_color);
  --figcaptionbg2: var(--primary_dark_color);
  --figcaptioncolor2: white;
  --figcaptionbg3: var(--primary_dark_color);
  --figcaptioncolor3: white;
  --figcaptionbg4: var(--bgbody);
  --figcaptioncolor4: var(--primary_dark_color);
  --input-border: #eaa2c5;
  --border-general: #c6d8ec55;
  --input-focus-bg: rgba(246, 203, 224, 0.3);
  --input-focus-visible-border: #be4e85;
  --rootnavigator: #4e85be;
  --dropdown-header: #be4e85;
  --dropdown-header-bg: #be4e85;
  --dropdown-menu-bg: #f6cbe0;
  --dropdown-border: #eaa2c5;
  --dropdown-box-shadow: #be4e85;
  --dropdown-item-hover: #eafbcf;
  --dropdown-item-hover-bg: #be4e85;
  --primary-dark-border: #66666633;
  --news--bg: white;
  --bhumibol-hospital-border: rgba(246, 203, 224, 0.7);
  --filter-bg: none;
  --list-linksite-bg: white;
  --list-linksite-hover-bg: #eaa2c5;
  --g-border-color: #eaa2c5;
  --download-btn-bg: #456b96;
  --download-btn: white;
  --pagelink-active: #456b96;
  --alert-bg: rgba(173, 200, 231, 0.95);
  --alert-color: black;
  --shadow-color: #333333;
  --toast-bg: rgba(173, 200, 231, 0.95);
  --toast-warn-bg: rgba(219, 179, 105, 0.95);
  --toast-danger-bg: rgba(240, 173, 173, 0.95);
  --toast-color: #153b66;
  --btn-green-bg: #60a528;
  --btn-cancel-bg: #666666;
  --primary_color: #98b4d4;
  --primary_dark_color: #456b96;
  --primary_light_color: #c6d8ec;
  --secondary1_color: #eaa2c5;
  --secondary1_dark_color: #be4e85;
  --secondary1_light_color: #f6cbe0;
  --secondary2_color: #d9f6aa;
  --secondary2_dark_color: #a4d457;
  --secondary2_light_color: #eafbcf;
  --complement_dark_color: #47236d;
  /* -complement_dark_color : #9b4dee; */
}
img {
  filter: none;
  -webkit-filter: none;
}
.head-menu,
.news-template4-firstnews,
.news-template3-firstnews > div,
.news-template3-othernews > div {
  filter: none;
  -webkit-filter: none;
}
.news-template4-headnews,
.news-template3-headnews,
.news-template2-headnews,
.news-template1-headnews {
  background-image: url(../images/line-background1.png)!important;
}
#scrollBtn {
  filter:none;
  -webkit-filter:none;
}
